{% extends 'base.html'%}

{%block title%}Contact{%endblock title%}

{% block body%}
<div class="container-fluid px-0 mb-3">
    {% comment %} <img src="https://source.unsplash.com/1900x600/?Phone,contact" class="d-block w-100 mx-0" alt=""> {% endcomment %}
    <img src="/static/Imageurls/23.jfif" style="width: 1900px; height: 600px;">

    <h1 class="text-center">CONTACT US</h1>
    <form method="post"action="/contact">
        {% csrf_token %}
        <div class="container mb-3 py-4">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"placeholder"Enter your name">
            </div> 
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email"placeholder="Enter your email">
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
            </div>
            <div class="form-group">
                <label for="desc" class="form-label">Tell me about what you want to contact me for......</label>
                <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" type="Submit">Submit</button>
            </div>
  </form>
</div>
{%endblock body%}